include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/presencas *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/presencas/migration *.ini *.py *.mako
