{% ckan_extends %}
{% block facet_list_items %}

{% asset 'presencas/presencas-css' %}
{% asset 'presencas/presencas-js' %}

{% if name == "data_inicio" %}
    {% set datas = h.presencas_retorna_minimo_maximo_data_inicio() %}
    {% if datas != None %}
    <div data-module="presencas-data-inicio">
        <div class="sliders pt-4 pb-4 mt-4">
            <div class="intervalo-slide"></div>
            <span class="slide1-val"></span>
            <input class="slide" type="range" min="{{ datas[0] }}" max="{{ datas[1] }}" value="{{ datas[0] }}"/>
            <span class="slide2-val"></span>
            <input class="slide" type="range" min="{{ datas[0] }}" max="{{ datas[1] }}" value="{{ datas[1] }}"/>
        </div>
        <div class="botoes-data-inicio d-flex align-content-center justify-content-around gap-1 mb-3">
            <button class="botao-data-inicio p-2 text-center">Restaurar botões</button>
            <button class="botao-data-inicio p-2 text-center">Remover intervalo</button>
            <button class="botao-data-inicio p-2 text-center">Aplicar intervalo</button>
        </div>
    </div>
    {% else %}
    <p class="module-content empty">{{ _("Não há datasets com data de início configurada") }}</p>
    {% endif %}
{% else %}
    {{ super() }}
{% endif %}
{% endblock %}